<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/dietifyme"
        android:label="@string/dietify"
        android:roundIcon="@color/white"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Dark"
        tools:targetApi="31">
        <activity
            android:name=".UnderweightPreworkout.UWpreworkoutdetail"
            android:exported="false" />
        <activity
            android:name=".UnderweightPreworkout.UWpreworkout"
            android:exported="false" />
        <activity
            android:name=".UnderweightLunch.UWlunchdetail"
            android:exported="false" />
        <activity
            android:name=".UnderweightLunch.UWlunch"
            android:exported="false" />
        <activity
            android:name=".UnderweightBreakfast.UWbreakfastdetail"
            android:exported="false" />
        <activity
            android:name=".UnderweightBreakfast.UWbreakfast"
            android:exported="false" />
        <activity
            android:name=".UnderweightCategory.UnderWeight"
            android:exported="false" />
        <activity
            android:name=".NormalPostworkout.postworkoutdetail"
            android:exported="false" />
        <activity
            android:name=".NormalPostworkout.postworkout"
            android:exported="false" />
        <activity
            android:name=".NormalPreworkout.preworkoutdetail"
            android:exported="false" />
        <activity
            android:name=".NormalPreworkout.preworkout"
            android:exported="false" />
        <activity
            android:name=".NormalBreakfast.breakfastdetail"
            android:exported="false" />
        <activity
            android:name=".NormalLunch.lunchdetail"
            android:exported="false" />
        <activity
            android:name=".NormalLunch.lunch"
            android:exported="false" />
        <activity
            android:name=".NormalBreakfast.breakfast"
            android:exported="false" />
        <activity
            android:name=".NormalCategory.normaldiet"
            android:exported="false" />
        <activity
            android:name=".Login_RegisterBmi.bmiactivity"
            android:exported="false" />
        <activity
            android:name=".Login_RegisterBmi.Bmi"
            android:exported="false" />
        <activity
            android:name=".splash"
            android:exported="false" />
        <activity
            android:name=".Login_RegisterBmi.Register"
            android:exported="true"
            android:theme="@style/Theme.Material3.Dark.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Login_RegisterBmi.Login"
            android:exported="true"
            android:theme="@style/Theme.Material3.Dark.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>